#hbd{
    background-color: rgba(5,18,27,1);
    position: absolute;
    width: 100%;
    height: 90vh;
    z-index: 99;
    color: white;
    display: none;
}

.col-5{
    position: relative;
    height: 100%;
    display: inline;
}

.hbd-map{
    border-radius: 20px;
    position: relative;
    width: 25%;
    height: 80px;
    margin: auto;
    margin-top: 50px;
    box-shadow: -5px 8px 0px rgba(64,82,99,1);
}

.hbd-title{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    z-index: 2;
}

.carga-c{
    border-radius: 20px;
    background-color: rgba(5,18,27,1);
    border: 1.2px solid rgba(73,94,114,0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.carga{
    border-radius: 20px;
    background-color: green;
    position: absolute;
    width: 0;
    height: 100%;
}

