#prt {
    /*background-color: rgb(20,29,38);*/
    /*position: relative;*/
    width: 100%;
    height: 91.5vh;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-1 {
    background-color: rgb(228,213,183);
    background-image: url("../img/line.png");
    background-size: 100px;
    border: 1px solid rgba(62,88,105,1);
    box-shadow: -4px 4px 0px rgba(73,94,114,0.5);
    width: 500px;
    height: 80%;
    margin: auto;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 2em;*/
}

.prt-title {
    width: 100%;
    height: 100%;
    display: inline;
    animation: prt 1s;
}

@keyframes prt{
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0px);
    }
}

.before-name {
    height: 15%;
    font-family: monospace;
    font-size: 30px;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 5% 0px 5%;
    transition: 500ms ease-in-out;
}


.prt-menu, .prt-name, .prt-more-m{
    height: 90%;
    width: 100%;
    background-color: rgba(217,185,155,1);
    /*background-image: url("../img/line.png");
    background-size: 100px;*/
    border: 1px solid rgba(62,88,105,1);
    box-shadow: -4px 4px 0px rgba(73,94,114,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.prt-name{
    flex-direction: column;
}

.n-1{
    font-size: 18px;
}
.n-2{
    font-size: 25px;
}

.n-3{
    font-size: 14px;
}

.prt-m-ul{
    width: 70%;
    display: flex;
}

.prt-m-i{
    width: calc(100% / 2);
    font-size: 20px;
    font-family: monospace;
    font-weight: 400;
    letter-spacing: 2px;
}
.m-1{
    background-color: rgba(73,94,114,0.4);
    border: 1px solid rgba(64,82,99,1);
    box-shadow: -4px 4px 0px rgba(73,94,114,0.7);
}

.name {
    height: 30%;
    font-family: monospace;
    font-weight: 700;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 5% 0px 5%;
    transition: 500ms ease-in-out;
}

.pump{
    animation: pump 1s infinite;
}
@keyframes pump{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}



.prt-more{
    height: 30%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 39px 5% 0px 5%;
    transition: 500ms ease-in-out;
}

.btn-prt{
    font-family: monospace;
    font-size: 18px;
    color: white;
    width: 120px;
    height: 30px;
    border: 1px solid rgba(73,94,114,1);
    background-color: rgba(73,94,114,0.4);
    box-shadow: -4px 4px 0px rgba(73,94,114,1);
    cursor: pointer;
    margin-right: 100px;
}

@keyframes btnabout{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.08);
    }
}

.btn-prt:hover{
    animation: btnabout 1s ease infinite;
}

.social{
    display: flex;
}

.social-ic{
    margin-left: 15px;
}

.ic{
    font-size: 30px;
    color: rgba(73,94,114,1);
}

@media screen and (max-width: 1000px){
    .col-1{
        height: 100%;
        width: 95%;
    }
    .prt-title{
        text-align: center;
        transition: 200ms;
    }
    .prt-more{
        /*display: inline;*/
        justify-content: center;
        align-items: center;
    }
    .prt-more, .name, .before-name{
        margin-top: 45px;
    }
    .btn-prt{
        margin-right: 0px;
        transition: 200ms;
    }
    .social{
        margin-top: 10px;
        justify-content: center;
        transition: 200ms;
    }
}