#sk{
    background-color: rgba(5,18,27,1);
    border-top: 1px solid rgba(73,94,114,1);
    height: 300px;
    width: 100%;
}

.col-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sk-title{
    color: aliceblue;
    font-size: 20px;
    text-align: center;
}

.sk-ic{
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    color: white;
    height: 100px;
    width: 200px;
    border: 1px solid #2b2b2b;
    margin: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(73,94,114,1);
    background-color: rgba(73,94,114,0.4);
    box-shadow: -4px 4px 0px rgba(73,94,114,1);
}