#sk{
    background-color: rgba(5,18,27,1);
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 102;
    overflow: auto;
}

.col-6{
    display: inline;
}

.sk-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    width: auto;
    height: 2em;
    background-color: rgba(73,94,114,0.4);
    color: white;
    font-size: 20px;
    border: 1px solid rgba(73,94,114,1);
    box-shadow: -4px 4px 0px rgba(73,94,114,1);
    margin: 1em 195px 1em 195px;
    transition: 300ms;
}

.sk-t{
    width: 95%;
    text-align: center;
    text-shadow: -3px 3px 0px rgba(0,204,0,.75);
}

.sk-close{
    text-align: end;
}



.sk-ic{
    font-family: monospace;
    letter-spacing: 2px;
    color: rgba(0,204,0,.75);
    height: 50px;
    width: auto;
    margin: auto 15em;
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-top: 1px solid rgba(73,94,114,1);
    /*background-color: rgba(73,94,114,0.4);
    box-shadow: -4px 4px 0px rgba(73,94,114,1);*/
    transition: 300ms;
}

.sk-tc{
    font-size: 16px;
    color: white;
    width: 180px;
    height: 35px;
    background-color: rgba(73,94,114,0.4);
    box-shadow: -4px 0px 0px rgba(73,94,114,1);
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.sk-plus{
    margin: 2px 5px;
}

.sk-frw{
    color: white;
    width: 100%;
    display: flex;
    align-items: center;
}

.sk-frw-1::before{
    content: "";
    width: 70%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}
.sk-frw-2::before{
    content: "";
    width: 50%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}
.sk-frw-3::before{
    content: "";
    width: 76%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-4::before{
    content: "";
    width: 60%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-5::before{
    content: "";
    width: 50%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-6::before{
    content: "";
    width: 90%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-7::before{
    content: "";
    width: 78%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-8::before{
    content: "";
    width: 76%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}

.sk-frw-9::before{
    content: "";
    width: 87%;
    height: 12px;
    background-color: green;
    box-shadow: -3px 5px 0px rgb(64 82 99);
    display: block;
    margin-left: 1em;
    margin-right: 10px;
}


.sk-1{
    background-color: rgba(73,94,114,0.4);
    width: calc(100% - 20px) / 3;
    height: 100px;
    margin: auto 12em 15px 12em;
    display: flex;
    justify-content: space-around;
    border-left: 5px outset red;
    /*box-shadow: -4px 4px 0px rgba(73,94,114,1);*/
    transition: 300ms;
}

#java{
    display: none;
}
#spring{
    display: none;
}

.sk-item-1{
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sk-i{
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin-bottom: 10px;
}

.sk-i-p{
    color: rgb(255, 255, 255);
    font-size: 13px;
}

@media screen and (max-width: 1120px) {
    .sk-ic{
        margin: auto 150px;
    }
    .sk-title{
        margin-left: 150px;
        margin-right: 150px;
    }
    .sk-1{
        margin: 0px 9.4em 15px 9.4em;
    }


}

@media screen and (max-width: 720px) {
    .sk-ic{
        margin: auto 1em;
        margin-bottom: 15px;
    }
    .sk-title{
        margin-left: 16px;
        margin-right: 16px;
    }
    .sk-1{
        margin: 0px 1em 15px 1em;
    }
}
